USE [master]
GO
/****** Object:  Database [LibraryDB]    Script Date: 22/05/2021 21:22:26 ******/
CREATE DATABASE [LibraryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LibraryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LibraryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryDB]
GO
/****** Object:  Table [dbo].[TblM_Book]    Script Date: 22/05/2021 21:22:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblM_Book](
	[Book_ID_PK] [int] IDENTITY(1,1) NOT NULL,
	[Book_Name] [varchar](max) NULL,
	[Book_Price] [decimal](10, 2) NULL,
	[Book_Amount] [int] NULL,
 CONSTRAINT [PK_TblM_Book] PRIMARY KEY CLUSTERED 
(
	[Book_ID_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblM_User]    Script Date: 22/05/2021 21:22:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblM_User](
	[User_ID_PK] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NULL,
 CONSTRAINT [PK_TblM_User] PRIMARY KEY CLUSTERED 
(
	[User_ID_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblT_Transaction]    Script Date: 22/05/2021 21:22:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblT_Transaction](
	[Transaction_ID_PK] [int] IDENTITY(1,1) NOT NULL,
	[Book_ID_FK] [int] NULL,
	[User_ID_FK] [int] NULL,
	[Borrow_Date] [date] NULL,
	[Return_Date] [date] NULL,
	[IsDoneBorrow] [varchar](10) NULL,
 CONSTRAINT [PK_TblT_Transaction] PRIMARY KEY CLUSTERED 
(
	[Transaction_ID_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TblM_Book] ON 

INSERT [dbo].[TblM_Book] ([Book_ID_PK], [Book_Name], [Book_Price], [Book_Amount]) VALUES (1, N'The Lord of the Rings', CAST(50000.00 AS Decimal(10, 2)), 11)
INSERT [dbo].[TblM_Book] ([Book_ID_PK], [Book_Name], [Book_Price], [Book_Amount]) VALUES (2, N'Life of Pi', CAST(40000.00 AS Decimal(10, 2)), 9)
INSERT [dbo].[TblM_Book] ([Book_ID_PK], [Book_Name], [Book_Price], [Book_Amount]) VALUES (3, N'The Shawshank Redemption', CAST(56000.00 AS Decimal(10, 2)), 5)
SET IDENTITY_INSERT [dbo].[TblM_Book] OFF
GO
SET IDENTITY_INSERT [dbo].[TblM_User] ON 

INSERT [dbo].[TblM_User] ([User_ID_PK], [Username]) VALUES (1, N'Pemilik Perpustakaan')
INSERT [dbo].[TblM_User] ([User_ID_PK], [Username]) VALUES (2, N'User1')
SET IDENTITY_INSERT [dbo].[TblM_User] OFF
GO
SET IDENTITY_INSERT [dbo].[TblT_Transaction] ON 

INSERT [dbo].[TblT_Transaction] ([Transaction_ID_PK], [Book_ID_FK], [User_ID_FK], [Borrow_Date], [Return_Date], [IsDoneBorrow]) VALUES (2, 1, 2, CAST(N'2021-05-21' AS Date), CAST(N'2021-05-22' AS Date), N'Done')
INSERT [dbo].[TblT_Transaction] ([Transaction_ID_PK], [Book_ID_FK], [User_ID_FK], [Borrow_Date], [Return_Date], [IsDoneBorrow]) VALUES (3, 2, 2, CAST(N'2021-05-22' AS Date), CAST(N'2021-05-24' AS Date), N'Done')
SET IDENTITY_INSERT [dbo].[TblT_Transaction] OFF
GO
USE [master]
GO
